@import url("https://use.typekit.net/okm0fpl.css");

body {
  min-height: 100vh;
  background: rgb(250,250,250);
  background: radial-gradient(circle, rgba(250,250,250,1) 0%, rgba(251,200,231,1) 22%, rgba(250,250,250,1) 48%, rgba(251,200,231,1) 78%, rgba(250,250,250,1) 100%);
  background-size: cover;
  position: relative;
  overflow: scroll;
}

.App-link {
  color: #61dafb;
}

h1 {
  text-align: center;
  font-family: 'Poppins', sans-serif;
  font-size: 2rem;
  color: #010c3f;
}

h1 .highlight {
  color: #6c41ec;
}

h2 {
  font-family: 'Poppins', sans-serif;
  font-size: 1.55rem;
}

.form-controls {
  display: flex;
  flex-grow: 1;
  align-items: center;
  justify-content: space-between;
}
.form-controls input[type="text"] {
  display: flex;
  border: 1px solid lightgray;
  flex-grow: 1;
  padding: 10px;
  border-radius: 4px;
  font-size: 16px;
}

.form-controls input[type="text"]:focus {
  outline: none;
  border-color: gray;
  box-shadow: 0 2px 5px lightgray;
}
 
.form-controls label {
  display: none;
}